// this file no import in app, it serves for css variables autocomplete

:root {
  --radius-xxl: 1rem;
  --radius-xl: 0.75rem;
  --radius-lg: 0.5rem;
  --radius-md: 0.25rem;
  --radius-sm: 0.125rem;
}
