.anifox-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  &:focus {
    outline: none;
  }

  &__image {
    height: calc(var(--header-height) - 15px);
    width: auto;
  }

  &__text {
    display: flex;
    p {
      font-size: var(--font-xxl);
      transition: var(--translation-duration);
      font-weight: 700;

      &:hover {
        &:last-child {
          color: #f6898a;
        }
        &:first-child {
          color: #fdc65f;
        }
        transition: all 0.1s ease-in-out;
      }

      &:first-child {
        color: #f6898a;
      }
      &:last-child {
        color: #fdc65f;
      }
    }
  }
}
