// this file no import in app, it serves for css variables autocomplete

:root {
  --translation-duration-sm: 0.1s;
  --translation-duration-md: 0.3s;
  --translation-duration-lg: 0.5s;
  --translation-duration-xl: 1s;
  --translation-duration-xll: 1.5s;
}
