@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --header-height: 70px;
}

.home-layout {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-layout__content {
    display: flex;
    flex: 1 0 auto;
    min-height: 100%;

    main {
      min-width: 100%;
    }
  }
}
