.button {
  @apply relative cursor-pointer select-none appearance-none overflow-hidden rounded border-0 px-4 py-2 transition-all;
  @apply leading-[--button-height] text-white;

  &__content {
    @apply flex h-[--button-height] items-center justify-center gap-2;

    font-size: var(--button-font-size);

    &__icon {
      @apply flex items-center justify-center;
    }
  }

  &_filled {
    @apply bg-[--button-bg-color];
  }

  &_gradient {
    @apply bg-gradient-to-r from-[--button-bg-color-from] to-[--button-bg-color-to];
  }

  &_outline {
    @apply bg-transparent text-[--button-bg-color] outline outline-2;
  }

  &_light {
    @apply text-[--button-bg-color];

    /* приходится использовть color-mix для прозрачности hex */
    background-color: color-mix(
      in srgb,
      var(--button-bg-color) 15%,
      transparent
    );
  }

  &_full-width {
    @apply w-full;
  }

  &_orange {
    --button-bg-color: theme('colors.orange.300');

    --button-bg-color-from: theme('colors.orange.300');
    --button-bg-color-to: theme('colors.orange.400');
  }

  &_green {
    --button-bg-color: theme('colors.green.400');

    --button-bg-color-from: theme('colors.green.400');
    --button-bg-color-to: theme('colors.green.500');
  }

  &_red {
    --button-bg-color: theme('colors.red.400');

    --button-bg-color-from: theme('colors.red.400');
    --button-bg-color-to: theme('colors.red.500');
  }

  &_purple {
    --button-bg-color: theme('colors.indigo.400');

    --button-bg-color-from: theme('colors.indigo.500');
    --button-bg-color-to: theme('colors.indigo.600');
  }

  &_sm {
    --button-height: theme('height.4');
    --button-font-size: theme('fontSize.sm');
  }

  &_md {
    --button-height: theme('height.5');
    --button-font-size: theme('fontSize.sm');
  }

  &_lg {
    --button-height: theme('height.6');
    --button-font-size: theme('fontSize.base');
  }

  &_xl {
    --button-height: theme('height.7');
    --button-font-size: theme('fontSize.base');
  }

  &_xxl {
    --button-height: theme('height.8');
    --button-font-size: theme('fontSize.base');
  }

  &_radius-sm {
    border-radius: theme('borderRadius.sm');
  }

  &_radius-md {
    border-radius: theme('borderRadius.DEFAULT');
  }

  &_radius-lg {
    border-radius: theme('borderRadius.lg');
  }

  &_radius-xl {
    border-radius: theme('borderRadius.xl');
  }

  &_radius-xxl {
    border-radius: theme('borderRadius.2xl');
  }
}

button:disabled {
  @apply cursor-default opacity-60;

  &:hover {
    @apply filter-none;
  }
}

button:hover {
  @apply brightness-95;
}
