.input {
  &__label {
    @apply text-sm;
  }

  &__error {
    @apply text-xs text-red-400;
  }

  &__element {
    @apply flex items-center rounded-lg px-4 py-2 drop-shadow-sm;

    @apply bg-[--input-bg-color];

    input {
      @apply h-[--input-height] w-full;
      font-size: var(--input-font-size);
    }
  }

  &__icon {
    @apply flex h-full items-center justify-center;

    &_right {
      @apply ml-2;
    }
    &_left {
      @apply mr-2;
    }
  }

  &_sm {
    --input-height: theme('height.5');
    --input-font-size: theme('fontSize.sm');
  }

  &_md {
    --input-height: theme('height.6');
    --input-font-size: theme('fontSize.base');
  }

  &_lg {
    --input-height: theme('height.7');
    --input-font-size: theme('fontSize.lg');
  }

  &_xl {
    --input-height: theme('height.8');
    --input-font-size: theme('fontSize.xl');
  }
  &_xxl {
    --input-height: theme('height.9');
    --input-font-size: theme('fontSize.2xl');
  }

  &_light {
    --input-bg-color: theme('backgroundColor.white');
  }
  &_filled {
    --input-bg-color: theme('backgroundColor.slate.100');
  }
}
