@import './theme.scss';
@import './normalize.scss';

* {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: rgb(var(--background-color));
}

a {
  color: rgb(var(--orange-color) / 0.9);
  transition: var(--translation-duration);

  &:hover {
    color: rgb(var(--orange-color));
  }
}

p {
  font-size: var(--font-md);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 700;
}

h1 {
  font-size: var(--font-xxl);
}
h2 {
  font-size: var(--font-xl);
}
h3 {
  font-size: var(--font-lg);
}

.error-label {
  font-size: var(--font-sm);
  color: rgb(var(--red-color));
}
