.css-transition {
  &_fade-in {
    @apply animate-fade-in;
    animation-duration: var(--enter-animation-duration);
  }

  &_fade-out {
    @apply animate-fade-out;
    animation-duration: var(--exit-animation-duration);
  }

  &_scale-in {
    @apply animate-scale-in;
    animation-duration: var(--enter-animation-duration);
  }

  &_scale-out {
    @apply animate-scale-out;
    animation-duration: var(--exit-animation-duration);
  }
}
