.carousel {
  --slide-spacing: 1rem;
  --negative--slide-spacing: calc(var(--slide-spacing) * -1);

  @apply relative m-auto w-full;

  &__viewport {
    @apply overflow-hidden;
  }

  &__container {
    @apply ml-[--negative--slide-spacing] flex touch-pan-y;
    backface-visibility: hidden;
  }

  &__slide {
    @apply min-w-0 pl-[--slide-spacing];
    flex: 0 0 100%;
  }
}
