.main_layout {
  display: grid;

  margin-top: var(--header-height);

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__content {
    display: flex;
  }

  &__container {
    padding: 10px 5px;
    width: 100%;
  }
}
